body {
  margin: 0;
  padding: 0;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255, 0.8);
  z-index: 1000;
}
.overlay .complaint-container {
  position: relative;
  margin: 15vh auto;
  width: 70%;
  max-width: none;
  max-height: 66vh;
  min-height: 33vh;
  overflow: visible;
  cursor: auto;
}

.overlay .close-button {
  position: absolute;
  font-size: 32px;
  top: 10px;
  right: 20px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}

.button {
  cursor: pointer;
  color: #222;
  transition: color 0.1s linear;
}
.button:hover {
  color: #aaa;
}

.banner-header {
  width: 100%;
}

.banner-image {
  display: none;
  width: 100%;
}

.banner-image-mobile {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 720px) {
  .banner-image-mobile {
    display: none;
  }
  .banner-image {
    display: block;
  }
}

.share-container {
  display: none;
  position: fixed;
  width: 50px;
  left: 0;
  top: -128px;
  z-index: 400;

  background-color: rgba(0,0,0,0);
  padding: 0 8px;
  transition: top 0.5s linear;
}
.share-container a {
  display: block;
}
.share-container a+a {
  margin-top: 16px;
}
.share-container img {
  display: block;
  width: 100%;
}

.share-container-mobile {
  position: fixed;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 0;
  z-index: 400;

  background-color: #fff;;
  padding: 8px 0;
}
.share-container-mobile .share-container-centerer {
  text-align: center;
  margin: 0 auto;
}
.share-container-mobile a {
  text-decoration: none;
}
.share-container-mobile a+a {
  margin-left: 20px;
}
.share-container-mobile img {
  height: 50px;
}

@media (min-width: 720px) {
  .share-container {
    display: block;
  }
  .share-container-mobile {
    display: none;
  }
}

.center-form {
  margin: 16px 0;
  text-align: center;
}

.complaint-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;

  width: 100%;
  padding: 50px 16px;
}

.loader-spinner {
  display: block;
  width: 20%;
  max-width: 100px;
  min-width: 64px;
  animation: spin 1.8s linear infinite;
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.complaint-text {
  margin: 0;
  text-align: center;
  font: 900 80px/1 'Patrick Hand';
}

.complaint-container {
  max-width: 100%;
  min-height: 128px;
  max-height: 200px;
  padding: 8px;
  padding-top: 12px;
  margin: -12px;
  overflow: hidden;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

@media (min-width: 720px) {
  .complaint-container {
    max-width: 33%;
    min-width: 200px;
  }
}

.complaint-container-primary {
  color: #ED2027;
  background-image: url('/imgs/container-banner-pink.png');
}
.complaint-container-secondary {
  color: #0778BA;
  background-image: url('/imgs/container-banner-yellow.png');
}
